* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family:'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    padding:.5em;
}

section.form{
    background-color: tomato;
    padding: 0.7em;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
}

section.form h1{
    padding:.8em;
}

section.form input{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    color: red;
    text-align: center;
    font-size:20px;
}

.stars{
    display:flex;
    justify-content:center;
}

.stars input{
    margin:5px;
}

.btn{
    margin-top: 20px;
    display: flex;
    justify-content:center;
}

.btn button{
    padding:.7em;
    border-radius: 5%;
}

section.userKey, section.randomKey{
    padding:1em;
    display: flex-start;
    justify-content:center;
    align-items:center;
}

section.userKey p, section.randomKey p {
    margin: 10px;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}